/* COMMON */
body {
    font-family: "Roboto", sans-serif;
    color: #1d1d1d;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
a {
    outline: none !important;
    text-decoration: none !important;
}
a:hover {
    color: #004ed6 !important;
}
.ib {
    display: inline-block;
}

/* HEADER */
.header {
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    margin: 26px 0;
}
.header-right {
    margin: 22px 0;
    flex-basis: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-enter > a {
    font-weight: 500;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #1d1d1d;
    padding: 12px 20px;
    font-size: 13px;
}
.link-basket > a {
    color: #262626;
}

/* FOOTER */
.footer {
    background-color: #262626;
    color: #fff;
    font-size: 13px;
}
.footer a {
    color: #fff;
}
.footer-block {
    padding: 40px 0 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}
@media (max-width: 767px) {
    .footer-block {
        padding: 20px 0 0;
    }    
}
.footer-block:last-child {
    border-bottom: none;
}
.hashtag {
    font-size: 16px;
}
.slash {
    color: #49a144;
}
.social-link {
    margin-right: 10px;
}
.footer-block.copy {
    font-size: 11px;
}
.footer-item {
    margin: 0 0 20px;
}
.footer-block.mobile {
    display: flex;
    justify-content: center;
}
.footer-block.mobile img {
    width: 100%;
    height: auto;
}
.footer-block.mobile .footer-item {
    display: flex;
    justify-content: center;
}
.footer-block.mobile .footer-item .mobile-1 {
    flex: 0 1 120px;
}
.footer-block.mobile .footer-item .mobile-2 {
    flex: 0 1 135px;
}
.footer-block.mobile .footer-item .mobile-spacer {
    flex: 0 1 40px;
}
.lang-select {
    position: relative;
    width: 200px;
}
.lang-select select {
    font-size: 13px;
    display: block;
    width: 100%;
    padding: .75rem 2.5rem .75rem 2.5rem;
    color: #979797;
    background: #3b3b3b;
    border: none;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.lang-select:before {
    content: url("../img/world.svg");
    display: block;
    pointer-events: none;
    position: absolute;
    left: 1rem;
    top: 50%;
    z-index: 1;
    margin-top: -9px;
}
.lang-select:after {
    content: url("../img/select.svg");
    display: block;
    pointer-events: none;
    position: absolute;
    right: 1rem;
    top: 50%;
    z-index: 1;
    margin-top: -9px;
}
.lang-select select::-ms-expand {
    display: none;
}

/* BACK TO TOP */
.back-to-top {
    background-color: #59bd5a;
    border-radius: 2px;
    color: #fff;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    right: 16px;
    bottom: 24px;
}

/* INDEX.HTML */
/* SEARCH */
.search {
    margin-top: 50px;
}
.search input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 45, 0.3);
    padding: 10px 0;
    color: #626262;
    background-color: transparent;
}

/* REST-LIST */
.rest-list {
    margin-top: 50px;
}
.rest-list .title {
    font-size: 22px;
    font-weight: normal;
}
.rest-list a, .rest-list a:hover {
    color: #1d1d1d !important;
}
.rest-list .card {
    padding: 0;
    margin: 0;
    transition: transform 0.1s linear;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 20px;
}
.rest-list .card:hover {
    transform: scale(102%, 102%);
    background-color: rgba(0, 0, 45, 0.03);
}
.rest-list .card-title {
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 4px;
}
.rest-list .card-price {
    color: #626262;
    font-size: 14px;
    line-height: 21px;
    margin: 4px 0 0 4px;
}
.rest-list .card-time {
    font-size: 13px;
    line-height: 21px;
    margin: 4px 0 0 4px;
}
.rest-list .card-image img {
    width: 100%;
    height: auto;
}

/* CAFE.HTML */
/* CAFE-HERO */
.cafe-hero {
    height: 364px;
    position: relative;
}
.cafe-hero .img-container {
    height: 364px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
@media (max-width:767px) {
    .cafe-hero {
        height: 300px;
    }
    .cafe-hero .img-container {
        height: 250px;
    }
}
.cafe-hero img {
    width: auto;
    height: 100%;
}
@media (min-width:1100px) {
    .cafe-hero img {
        width: 100%;
        height: auto;
    }
}
.cafe-hero .card-parent {
    display: inline-block;
    position: relative;
    margin-top: 80px;
}
.cafe-hero .card {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cafe-hero .card-title {
    font-size: 36px;
    margin: 0 auto 40px;
}
@media (max-width:767px) {
    .cafe-hero .card-parent {
        display: block;
        margin-top: 0;
        padding-top: 100px;
    }
    .cafe-hero .card-title {
        font-size: 24px;
        margin: 0 auto 40px;
    }
}
.cafe-hero .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cafe-hero .card-price {
    font-size: 14px;
    color: #626262;
}
.cafe-hero .card-time {
    background-color: #262626;
    border-radius: 26px;
    color: #fff;
    padding: 8px 16px;
}

/* CAFE-NAV */
.cafe-nav {
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    height: 50px;
    padding-top: 30px;
}
@media (max-width: 767px) {
    .cafe-nav {
        display: none;
    }
}
.cafe-nav ul {
    margin: 0;
    list-style: none;
}
.cafe-nav li {
    display: inline-block;
    margin-right: 40px;
    padding: 0;
}
.cafe-nav li a {
    color: #626262;
}
.cafe-nav li.current a {
    color: #327430;
}

/* CAFE-DISHES */
.cafe-dishes {
    padding-top: 30px;
}
@media (min-width: 992px) {
    .cafe-dishes {
        margin-bottom: 40px;
    }
}
.cafe-dishes a, .cafe-dishes a:hover {
    color: #262626 !important;
}
.cafe-dishes .title {
    font-size: 22px;
}
.cafe-dishes .line {
    display: none;
}
@media (max-width: 767px) {
    .cafe-dishes .title {
        text-align: center;
    }
    .cafe-dishes .line {
        margin: 11px auto;
        width: 50px;
        display: block;
        border-bottom: 1px solid #757575;
    }
}
.cafe-dishes .card {
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    margin-bottom: 50px;
    height: 160px;
    display: flex;
    transition: transform 0.1s linear;
}
.cafe-dishes .card:hover {
    transform: scale(102%, 102%);
    background-color: rgba(0, 0, 45, 0.03);
}
.cafe-dishes .card-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}
.cafe-dishes .card-title {
    font-size: 16px;
}
.cafe-dishes .card-text {
    margin-top: 4px;
    color: #626262;
    font-size: 13px;
}
.cafe-dishes .card-price {
    font-size: 15px;
    font-weight: 500;
}
.cafe-dishes .card-foto {
    border-radius: 2px;
    position: relative;
    height: 160px;
}
.cafe-dishes .card-foto img {
    height: 100%;
}
@media (max-width: 767px) {
    .cafe-dishes .card-title {
        font-size: 14px;
    }
    .cafe-dishes .card {
        border: none;
        border-bottom: 1px solid rgba(117, 117, 117, 0.2);
        height: 100px;
    }
    .cafe-dishes .card-foto {
        height: 100px;
    }
}
