/* COMMON */
* {
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #1d1d1d;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
a {
    outline: none !important;
    text-decoration: none !important;
}
a:hover {
    color: #004ed6 !important;
}

/* HEADER */
.header {
    background-color: #fff;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    margin: 26px 0;
}
.header-right {
    margin: 22px 0;
    flex-basis: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link-enter > a {
    font-weight: 500;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #1d1d1d;
    padding: 12px 20px;
    font-size: 13px;
}
.link-basket > a {
    color: #262626;
}

/* SEARCH */
.search {
    margin-top: 50px;
}
.search input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 45, 0.3);
    padding: 10px 0;
    color: #626262;
    background-color: transparent;
}

/* REST-LIST */
.rest-list {
    margin-top: 50px;
}
.rest-list .title {
    font-size: 22px;
    font-weight: normal;
}
.rest-list a, .rest-list a:hover {
    color: #1d1d1d !important;
}
.card {
    padding: 0;
    margin: 0;
}
.card-title {
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 0;
}
.card-price {
    color: #626262;
    font-size: 14px;
    line-height: 21px;
    margin: 4px 0 0 0;
}
.card-time {
    font-size: 13px;
    line-height: 21px;
    margin: 4px 0 20px 0;
}
.card:hover {
    background-color: rgba(0, 0, 45, 0.05);
}
.card-image img {
    width: 100%;
    height: auto;
}

/* FOOTER */
.footer {
    background-color: #262626;
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer > .container > .row {
    border-bottom: 1px solid #979797;
    margin-top: 40px;
    margin-bottom: 40px;
}
.slash {
    color: #49a144;
}

/* BACK TO TOP */
.back-to-top {
    background-color: #59bd5a;
    border-radius: 2px;
    color: #fff;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    right: 16px;
    bottom: 24px;
}
