/* Fonts */

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("fonts/inconsolata-v19-latin-ext_latin-regular.woff2") format("woff2"),
        url("fonts/inconsolata-v19-latin-ext_latin-regular.woff") format("woff");
}

@font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("fonts/playfair-display-v20-latin-ext_latin_cyrillic-regular.woff2") format("woff2"),
        url("fonts/playfair-display-v20-latin-ext_latin_cyrillic-regular.woff") format("woff");
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    src: local("Ubuntu Light"), local("Ubuntu-Light"), url("fonts/ubuntu-v14-latin_cyrillic-300.woff2") format("woff2"),
        url("fonts/ubuntu-v14-latin_cyrillic-300.woff") format("woff");
}


/* Site */

body {
    font-family: "Playfair Display", serif;
}